<!doctype html>
<html lang="en" ng-app="markimer">
  <head>
    <title>Markimer</title>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
     -->
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="js/markimer.js"></script>

    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="components/foundation/css/foundation.css" />
  </head>
  <body>
    <div id="content" ng-view ng-controller="MainController">
      <form ng-submit="submit()">
        <div>
          <label for="bookmarksSearch">Search Bookmarks:</label>
          <!-- <select ng-model="bookmarks" ng-options="bookmark.title for bookmark in bookmarks">
          </select> -->
          <input id="bookmarksSearch" ng-model="searchText">
          <table id="searchTextResults" ng-show="searchText">
            <tr><th>Bookmark Matches</th></tr>
            <tr ng-repeat="bookmark in (selectedBookmarks = (bookmarks | filter:searchText))">
              <td><a href="{{bookmark.url}}">{{bookmark.title}}</a></td>
            </tr>
          </table>
        </div>

        <hr>

        <div>
          <label class="expiryDate">Expiry Date: </label>
          <input type="date" id="expiryDate" ng-model="configuration.expiryDate">
          <label class="expiryTime">Time: </label>
          <input type="time" id="expiryTime" ng-model="configuration.expiryTime">
          <button type="submit" id="setExpire" class="button tiny">Set Expiry</button>
        </div>

        <div>
          <label class="triggerDate">Trigger Date: </label>
          <input type="date" id="triggerDate" ng-model="configuration.triggerDate">
          <label class="triggerTime">Time: </label>
          <input type="time" id="triggerTime" ng-model="configuration.triggerTime">
          <button type="submit" id="setTrigger" class="button tiny">Set Trigger</button>
        </div>
      </form>
    </div>
  </body>
</html>

